<div class="card-content">
  <div class="card-header">
    <div class="card-header-title">Cart</div>
  </div>
  <div class="content">
    {{#lines.length}}
    <ul class="cart-content">
    {{#lines}}
      <li>{{item.name}} x {{quantity}}</li>
    {{/lines}}
    </ul>
    {{/lines.length}}
    <hr>
    <strong>Total: </strong>
    <span class="total is-pulled-right">{{totalPrice}}</span>
  </div>
</div>
