<footer class="footer">
  <div class="level">
    <div class="level-item">
      <p class="content">
        {{ .Site.Params.legal.name }}<br>
        {{ .Site.Params.legal.address }}<br>
        {{ .Site.Params.legal.registry }}<br>
        {{ .Site.Params.legal.fiscal }}
      </p>
    </div>
    <div class="level-item">
      <p class="content">
        <ul>
          <li>Telefon: {{ .Site.Params.contact.telephone }}</li>
          <li>E-mail: {{ .Site.Params.contact.email }}</li>
          <li>Instagram {{ .Site.Params.contact.instagram }} </li>
          <li>Facebook {{ .Site.Params.contact.facebook }} </li>
        </ul>
      </p>
    </div>
    <div class="level-item">
      <p class="content">
        <a href="https://anpc.ro/">ANPC</a><br>
        <a href="#/n-am-ajuns-acolo-inca">Politică de confidențialitate</a><br>
        <a href="#/n-am-ajuns-acolo-inca">Cookies</a><br>
      </p>
    </div>
    <div class="level-item">
      <figure class="image">
        <a href="https://stolnik.netlify.app">
          <img src="https://stolnik.netlify.app/logo.png" alt="logo Stolnik" class="logo">
        </a>
      </figure>
    </div>
  </div>
</footer>