<div class="card order-details">
  <div class="card-header">
    <div class="card-header-title">
      Order details
    </div>
  </div>
  <div class="card-content">
    <div class="content">    
      <div class="field">
        <div class="control">
          <input type="text" class="input name" placeholder="Name">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="email" class="input email" placeholder="e-mail">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="tel" class="input telephone" placeholder="Telephone">
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <button class="button is-primary send-order">Order</button>
      </div>
    </div>
  </div>
</div>