<div
  class="card product"
  data-product-id="{{ .id }}"
  data-product-name="{{ .name }}"
  data-product-price="{{ .price }}"
>
  <div class="card-image">
    <figure class="image is-4by3">
      {{- range .images -}}
      <img src="{{ .url }}" alt="{{ .title }}">
      {{- end -}}
    </figure>
  </div>
  <div class="card-content">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <span class="title is-5">{{ .name }}</span>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <span class="is-size-6">{{ .price }} {{ $.Site.Params.currency }}</span>
        </div>
      </div>
    </div>

    <div class="content">{{ .description }}</div>
  </div>
  <div class="card-footer">
    <div class="card-footer-item is-paddingless">
      <input type="number" class="input quantity" value="1" step="1" min="1" />
    </div>
    <a class="card-footer-item add-to-cart">Add to cart</a>
  </div>
</div>