{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-body">
        <h1 class="title">{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Site.Params.subtitle | markdownify }}</h2>
      </div>
    </div>
  </div>
</section>

{{- $products := getJSON (getenv "API_PRODUCTS_ENDPOINT") -}}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="columns is-multiline is-8">
        {{ range $products }}
          <div class="column is-one-quarter">
            {{ partial "product-preview" . }}
          </div>
        {{ end }}
        </div>
      </div>
      <div class="column is-one-quarter">
        {{ partial "shopping-cart" }}
      </div>
    </div>
  </div>
</section>

{{ end }}
